/* CSS Document */
. box {
            border-width:7%;
            border-style:solid;
            border-color:     ;
            width:            ;
            margin-left:0px ;
            margin-right:0px ;
            padding:          ;
            }
 .maintext        {
            text-align:center;
            width:           ;
            margin-left:     ;
            margin-right:    ;           
            }
