/* CSS Document */
. box {
            border-width:2px;
            border-color:;
            border-style:solid;
            
            }
 .maintext        {
 text-align:center;
 width:   ;
 margin-left:  ;
            
            }
