/* CSS Document */
h1, h2, h3{

     text-allign:center;

}
body {
margin:10px;
border-style:solid;
border-width:2px;
padding:3px;
 }
 {
 color:#a414cc;
 margin-left:400px;
 }
 {
 {text-indent:15px;}
}